<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Products List</h1>
    <ul id="indexList">
        {{#each products}}
        <li id="productForm">
            <strong>{{this.title}}</strong>
            <hr>
            U$S {{this.price}}
            <hr>
            <a id="returToHome" href="/api/products/{{this._id}}">View Details</a>
        </li>
        {{/each}}
    </ul>

    <br>
    <div class="pagination">
        {{#if hasPrevPage}}
        <a href="{{prevLink}}">Previous</a>
        {{/if}}

        <span>Page {{page}} of {{totalPages}}</span>

        {{#if hasNextPage}}
        <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>

    <br>
    <button id="returToHome" onclick="location.href='/realtimeproducts'">Real Time Products</button>
    <br>
    <button id="returToHome" onclick="location.href='/api/carts/cart'">Cart</button>
    <br>
    <button id="returToHome" onclick="location.href='/'">Return to Home</button>

</body>

</html>